*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height:100vh;
    width: 100%;
    background-image:url(img/headerImg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 22px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.header-Text{
    position: absolute;
    left: 65%;
    top: 20%;
}
/*-------------Body----------*/
.header-Text h1{
    font-size: 100px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
}
.body{
    width: 100%;
    height: 400px;
}
.body-Text{
    position: absolute;
    left: 42%;
}
.body-Text h1{
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
}
.slider_Body{
    margin: 10%;
    margin-left:20%;
}
.slider{
    
    position: relative;
    width:500px;
    height: 265px;

    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
.slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}
.slider ul li {
    position: relative;
    height: 100%;
  
    float: left;
}
.slider ul li img{
    width: 50px;
    height: 265px;
}
/*-----------Footer---------*/
.footer{
    width: 100%;
    height: 400px;
    background: rgb(234, 234, 235);
}
.footer-Text{
    position: absolute;
    left: 33%;
}
.footer-Text h1{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
}

/*grid1*/
.grid_item_1{
    position: absolute;
    top:300%;
    right: 120%;
}
.grid_item_1 h5{
    font-size: 20px;
    padding-bottom: 20px;
    left:40px;
    
}
.foot-links ul li{
    list-style: none;
    padding: 8px;
    position: relative;
  
}
.foot-links ul li a{
    text-decoration: none;
    color: black;
}
/*grid2*/
.grid_item_2{
    position: absolute;
    top:300%;
    right: 50%;
}
.grid_item_2 h5{
    font-size: 20px;
    padding-bottom: 20px;
    left:60px
}

.foot-links-2 ul li{
    list-style: none;
    
    padding: 8px;
    position: relative;
}
.foot-links-2 ul li a{
    text-decoration: none;
    color: black;
}
